<div class="d-flex flex-row justify-content-center background background__profile">
  <div class="mt-5 pt-5">
    <div class="mb-5 pb-5 mt-5">
      <div class="mb-5">
        <app-input-boxes (codeFilledEvent)="submitCode($event)"></app-input-boxes>
      </div>
      <div class="text text-center text__title text__title--secondary mb-5 pb-5">Please enter the code displayed on the desktop app
      </div>
    </div>
    <div class="text text-center text__label text__label--secondary under-balloon-text mt-5 pt-5">If you don't have the app, get it from
      <a class="link link__primary">here</a></div>
  </div>

  <img class="balloon-image" alt="welcome-image" src="assets/pictures/auth-screen-balloon.svg">
</div>
