<div class="image-container" (click)="openXl(content)">
  <img width="550px" height="500" [alt]="imageProps.name" [src]="imageProps.url">
  <div class="text text-center">{{imageProps.name}}</div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Map where each community is marked with the same color</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body" style="height: 70vh;">
    <iframe [src]="mapResource()" frameborder="0" width="100%" height="100%" allowfullscreen>
      </iframe>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>
