@import "src/styles";
@import "src/styles/media-queries";

.header {
  height: $header-size;
  position: relative;
}

.logo-image {
  cursor: pointer;
}

.navbar-content {
  width: 60%;
  display: flex;
  justify-content: space-between;

  @include xl-screen {
    width: 25%;
  }

  @include l-screen {
    width: 35%;
  }

  @include m-screen {
    width: 50%;
  }
}
