@import "src/variables";

$input-border-radius: 15px;
$input-border-width: 0.1rem;
$input-padding-x: 0.5rem;
$input-padding-y: 0.1rem;
$button-border-radius: 5px;

.input {
  &__text {
    border-radius: $input-border-radius;
    border-color: $primary;
    border-width: $input-border-width;
    padding: $input-padding-y $input-padding-x $input-padding-y $input-padding-x;

    &:focus {
      outline: none;
    }
  }
}

.button {
  border: none;
  border-radius: $button-border-radius;
  padding: $input-padding-y $input-padding-x $input-padding-y $input-padding-x;
  display: flex;
  align-items: center;
  justify-content: center;

  &__primary {
    background-color: $primary;
    font-weight: bold;
    color: $white;
  }

  &__secondary {
    background-color: $secondary;
    font-weight: bold;
    color: $white;
  }
}

.select{
  border-radius: $input-border-radius;
  border-color: $primary;
  border-width: $input-border-width;
  padding: $input-padding-y $input-padding-x $input-padding-y $input-padding-x;
  cursor: pointer;
}
