@import "src/variables";

$title-size: 1.5rem;
$huge-size: 3rem;
$subtitle-size: 1rem;
$label-size: 1rem;
$note-size: 0.8rem;
$section-size: 1.3rem;

.text {
  &__huge {
    font-size: $huge-size;
    font-weight: bold;
    &--primary {
      color: $primary;
    }
    &--secondary {
      color: $secondary;
    }

    &--white {
      font-weight: normal;
      color: $white;
    }
  }

  &__title {
    font-size: $title-size;
    font-weight: bold;
    &--primary {
      color: $primary;
    }
    &--secondary {
      color: $secondary;
    }
    &--white {
      color: $white;
    }
  }

  &__subtitle {
    font-size: $subtitle-size;
    font-weight: bold;
    &--primary {
      color: $primary;
    }
    &--secondary {
      color: $secondary;
    }
    &--white {
      color: $white;
    }
    &--bold {
      font-weight: bold;
    }
  }

  &__label {
    font-size: $label-size;
    font-weight: bold;
    padding-left: 0 !important;
    padding-right: 0 !important;
    &--primary {
      color: $primary;
    }
    &--secondary {
      color: $secondary;
    }
  }

  &__note {
    font-size: $note-size;
    padding-left: 0 !important;
    padding-right: 0 !important;

    &--primary {
      color: $primary;
    }

    &--secondary {
      color: $secondary;
    }
  }

  &__default {
    font-size: $label-size;

    &--primary {
      color: $primary;
    }

    &--secondary {
      color: $secondary;
    }

    &--white {
      color: $white;
    }

    &--bold {
      font-weight: bold;
    }
  }

  &__section {
    font-size: $section-size;

    &--primary {
      color: $primary;
    }

    &--secondary {
      color: $secondary;
    }

    &--white {
      color: $white;
    }

    &--bold {
      font-weight: bold;
    }
  }
}

.link {
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  font-size: $label_size;

  &__primary {
    color: $primary;
    text-decoration-line: underline;
    text-decoration-color: $primary;

    &:hover {
      color: $gradient_blue;
    }
  }
}
