//The colors for the background gradient

$gradient_lime_green: #51DC33;
$gradient_green: #00AE81;
$gradient_turquoise: #007898;
$gradient_blue: #004275;
$gradient_dark_blue: #0B1130;

// Theme colors
$primary: #285E61;
$secondary: #607778;
$white: #FFFFFF;
$black: #000000;

// Relevant dimensions
$header-size: 5rem;
